<html>
    <head>
        <title>
            Sign Up
        </title>
    </head>

    <body>

        {{if .}}
        <script>
        window.location.href="/";
        </script>

{{end}}
        <form method="POST">
            <input type="text" name="fname" placeholder="First name"><br/>
            <input type="text" name="lname"placeholder="Last name"><br/>
            <input type="number" name="phone" placeholder="Phone"><br/>
            <input type="text" name="email" placeholder="email"><br/>
            <input type="password" name="pass" placeholder="password"><br/>
            <input type="number" name="pin" placeholder="pincode"><br/>
            <input type="text" name="add1" placeholder="address 1"><br/>
            <input type="text" name="add2" placeholder="address2"><br/>
            <input type="text" name="city" placeholder="city"><br/>
            <input type="text" name="state" placeholder="state"><br/>
            <input type="text" name="country" placeholder="country">   <br/>         
            <input type="submit">
            
        </form>
    </body>
</html>